{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My project</title>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav>
        <div>
            <a href="{% url 'notes_all' %}">LOGO</a>
        </div>

        <input type="checkbox" name="" id="check">

        <div id="links">
            <a href="{% url 'notes_all' %}">SHOW NOTES</a>
            <a href="{% url 'note_add' %}">ADD NOTE</a>

        </div>

        <label id="menu" for="check">
            <img src="https://img.icons8.com/doodle/48/000000/menu.png" />
        </label>
    </nav>

    {% block heading %}
    {% endblock %}

    {% block content %}
    {% endblock %}

</body>

</html>