<nav>
    <div>
        <a href="{% url 'notes_all' %}">LOGO</a>
    </div>

    <input type="checkbox" name="" id="check">

    <div id="links">
        <a href="{% url 'notes_all' %}">SHOW NOTES</a>
        <a href="{% url 'map_view' id=0 %}">VIEW MAP</a>
        <a href="{% url 'map_view' id=1 %}">NAVIGATION</a>
        <a href="{% url 'drone' %}">DRONE</a>

        <a href="/admin">LOGIN</a>


        {% if user.is_authenticated %}
        <a href="{% url 'note_add' %}">ADD NOTE</a>
        {% endif %}
    </div>

    <label id="menu" for="check">
        <img src="https://img.icons8.com/doodle/48/000000/menu.png" />
    </label>
</nav>