{% extends "journal/base.html" %}

{% block heading %}
<div class="heading">
    <h1>All the notes</h1>

</div>
{% endblock %}

{% block content %}

<div class="notes">
    {% for i in records %}

    <div class="card">
        <h1>{{i.title}}
            <p>{{i.text}}</p>
            <div class="card-buttons">
                <a href="{% url 'note_edit' pk=i.pk %}">
                    <button class="btn-edit">EDIT</button>
                </a>

                <a href="{% url 'note_delete' pk=i.pk %}">
                    <button class="btn-delete">DELETE</button>
                </a>
            </div>

        </h1>
    </div>

    {% endfor %}

</div>


{% endblock %}