
{% extends "journal/base.html" %}
{% load humanize %}

{% block heading %}
<div class="heading">
    <h1>All the notes</h1>

</div>
{% endblock %}

{% block content %}

<div class="notes">
    {% for i in records %}

    <div class="card">
        <h1>{{ i.title }}</h1>
        <h4>{{i.text}}</h4>
        {% if user.is_authenticated %}
        <div class="card-buttons">
            <a href="{% url 'note_edit' pk=i.pk %}">
                <button class="btn-edit">EDIT</button>
            </a>

            <a href="{% url 'note_delete' pk=i.pk %}">
                <button class="btn-delete">DELETE</button>
            </a>
        </div>
        {% endif %}
        <h5>{{ i.created }} ({{ i.created | naturalday }})</h5>

    </div>
    {% endfor %}

</div>


{% endblock %}